.catCard {
  text-align: center;
  display: block;

  border-radius: 5px;
  color: black;
  font-size: 20px;
  font-family: 'SF Pro Display', sans-serif;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
  span {
    text-align: center;
    display: block;
    padding: 50px 0;
    background: rgba(255, 255, 255, 0.75);
  }
  &:hover {
    text-decoration: none;
    span {
      color: black;
      background: rgba(255, 255, 255, 0.85);
    }
  }
}
