.catCard {
  text-align: center;
  display: block;
  color: black;
  font-size: 18px;
  font-family: 'SF Pro Display', sans-serif;
  text-decoration: none;
  span {
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: 0.25s all;
    position: relative;
    top: 0;
  }
  &:hover {
    text-decoration: none;
    span {
      color: black;
    }
    img {
      top: -7px;
    }
  }
}
